$theme-colors: (
  "primary": #181818,
  "secondary": #363636,
  "tertiary": #404040,
  "info": #0dcaf0,
  "success": #198754,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f5f5f5,
  "muted": #BDBDBD,
  "dark": #121212,
);
$link-color: #BDBDBD;
$link-hover-color: #f5f5f5;

@import "bootstrap";
