$theme-colors: (
  'primary': #0a192f,
  'secondary': #112240,
  'tertiary': #64ffda,
  'info': #57cbff,
  'success': #198754,
  'warning': #ffc107,
  'danger': #dc3545,
  'light': #ccd6f6,
  'muted': #8892b0,
  'dark': #495670,
  
  'dark-navy': #020c1b,
  'navy': #0a192f,
  'light-navy': #112240,
  'lightest-navy': #233554,
  'navy-shadow': rgba(2,12,27,0.7),
  'dark-slate': #495670,
  'slate': #8892b0,
  'light-slate': #a8b2d1,
  'lightest-slate': #ccd6f6,
  'white': #e6f1ff,
  'green': #64ffda,
  'green-tint': rgba(100,255,218,0.1),
  'pink': #f57dff,
  'blue': #57cbff,
);
$navbar-dark-color: #8892b0;
$navbar-dark-hover-color: #aab4d3;
$navbar-dark-active-color: #ccd6f6;

// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/utilities";

// $utilities: map-merge(
//   $utilities,
//   (
//     "min-viewport-height": map-merge(
//       map-get($utilities, "min-viewport-height"),
//       (
//         values: map-merge(
//           map-get(map-get($utilities, "min-viewport-height"), "values"),
//           (99: 100vh - 71px),
//         ),
//       ),
//     ),
//   )
// );
// $utilities: map-merge(
//   $utilities,
//   (
//     'min-viewport-height': (
//       property: min-height,
//       class: min-vh,
//       values: (100: 100vh, 99: 100vh - 71px)
//     ),
//   )
// );
@import 'bootstrap';

// 'dark-navy': #020c1b,
// 'navy': #0a192f,
// 'light-navy': #112240,
// 'lightest-navy': #233554,
// 'navy-shadow': rgba(2,12,27,0.7),
// 'dark-slate': #495670,
// 'slate': #8892b0,
// 'light-slate': #a8b2d1,
// 'lightest-slate': #ccd6f6,
// 'white': #e6f1ff,
// 'green': #64ffda,
// 'green-tint': rgba(100,255,218,0.1),
// 'pink': #f57dff,
// 'blue': #57cbff,